# Data Science Tools and Ecosystem

## Author
John Kim

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List commonly used languages by Data Scientists
- List commonly used libraries by Data Scientists
- Create a basic table in the Jupyter notebook
- Perform basic arithmetic expressions in Jupyter notebook
- Be able to give some examples of open-source development environment tools for Data Scientists.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Java
4. C/C++
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. TensorFlow
3. PyTorch
4. Keras
5. Pandas

|Data Science Tools|
|------------------|
|R Studio|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arthmetic expression in Python

In [4]:
#this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by dividing by 60

min_in_hrs = 200/60
print(min_in_hrs)

3.3333333333333335